/*Credit Cards*/
.tt-card.tt-card-safari.tt-card-identified .tt-card-front:before, .tt-card.tt-card-safari.tt-card-identified .tt-card-back:before {
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.03) 4px), repeating-linear-gradient(90deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-linear-gradient(210deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.03) 4px), repeating-linear-gradient(90deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-linear-gradient(210deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), linear-gradient(-25deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
}

.tt-card.tt-card-ie-10.tt-card-flipped, .tt-card.tt-card-ie-11.tt-card-flipped {
    -webkit-transform: 0deg;
    -moz-transform: 0deg;
    -ms-transform: 0deg;
    -o-transform: 0deg;
    transform: 0deg;
}

.tt-card.tt-card-ie-10.tt-card-flipped .tt-card-front, .tt-card.tt-card-ie-11.tt-card-flipped .tt-card-front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.tt-card.tt-card-ie-10.tt-card-flipped .tt-card-back, .tt-card.tt-card-ie-11.tt-card-flipped .tt-card-back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.tt-card.tt-card-ie-10.tt-card-flipped .tt-card-back:after, .tt-card.tt-card-ie-11.tt-card-flipped .tt-card-back:after {
    left: 18%;
}

.tt-card.tt-card-ie-10.tt-card-flipped .tt-card-back .tt-card-cvc, .tt-card.tt-card-ie-11.tt-card-flipped .tt-card-back .tt-card-cvc {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    left: 5%;
}

.tt-card.tt-card-ie-10.tt-card-flipped .tt-card-back .tt-card-shiny, .tt-card.tt-card-ie-11.tt-card-flipped .tt-card-back .tt-card-shiny {
    left: 84%;
}

.tt-card.tt-card-ie-10.tt-card-flipped .tt-card-back .tt-card-shiny:after, .tt-card.tt-card-ie-11.tt-card-flipped .tt-card-back .tt-card-shiny:after {
    left: -480%;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.tt-card.tt-card-ie-10.tt-card-amex .tt-card-back, .tt-card.tt-card-ie-11.tt-card-amex .tt-card-back {
    display: none;
}

/*.tt-card-logo {
    height: 36px;
    width: 60px;
    font-style: italic;
}*/

.tt-card-logo, .tt-card-logo:before, .tt-card-logo:after {
    box-sizing: border-box;
}

/*.tt-card-logo.tt-card-amex {
    text-transform: uppercase;
    font-size: 4px;
    font-weight: bold;
    color: white;
    background-image: repeating-radial-gradient(circle at center, #FFF 1px, #999 2px);
    background-image: repeating-radial-gradient(circle at center, #FFF 1px, #999 2px);
    border: 1px solid #EEE;
}*/

/*.tt-card-logo.tt-card-amex:before, .tt-card-logo.tt-card-amex:after {
    width: 28px;
    display: block;
    position: absolute;
    left: 16px;
}

.tt-card-logo.tt-card-amex:before {
    height: 28px;
    content: "american";
    top: 3px;
    text-align: left;
    padding-left: 2px;
    padding-top: 11px;
    background: #267AC3;
}

.tt-card-logo.tt-card-amex:after {
    content: "express";
    bottom: 11px;
    text-align: right;
    padding-right: 2px;
}*/

.tt-card.tt-card-amex.tt-card-flipped {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.tt-card.tt-card-amex.tt-card-identified .tt-card-front:before, .tt-card.tt-card-amex.tt-card-identified .tt-card-back:before {
    background-color: #108168;
}

.tt-card.tt-card-amex.tt-card-identified .tt-card-front .tt-card-logo.tt-card-amex {
    opacity: 1;
}

.tt-card.tt-card-amex.tt-card-identified .tt-card-front .tt-card-cvc {
    visibility: visible;
}

.tt-card.tt-card-amex.tt-card-identified .tt-card-front:after {
    opacity: 1;
}

.tt-card-logo.tt-card-discover {
    background: #FF6600;
    color: #111;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    padding-top: 9px;
    letter-spacing: .03em;
    border: 1px solid #EEE;
}

.tt-card-logo.tt-card-discover:before, .tt-card-logo.tt-card-discover:after {
    content: " ";
    display: block;
    position: absolute;
}

.tt-card-logo.tt-card-discover:before {
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    bottom: -5%;
    right: -80%;
    z-index: -1;
}

.tt-card-logo.tt-card-discover:after {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    top: 10px;
    left: 27px;
    background-color: #FF6600;
    background-image: -webkit-radial-gradient(#FF6600, #fff);
    background-image: radial-gradient(#FF6600, #fff);
    content: "network";
    font-size: 4px;
    line-height: 24px;
    text-indent: -7px;
}

.tt-card .tt-card-front .tt-card-logo.tt-card-discover {
    right: 12%;
    top: 18%;
}

.tt-card.tt-card-discover.tt-card-identified .tt-card-front:before, .tt-card.tt-card-discover.tt-card-identified .tt-card-back:before {
    background-color: #86B8CF;
}

.tt-card.tt-card-discover.tt-card-identified .tt-card-logo.tt-card-discover {
    opacity: 1;
}

.tt-card.tt-card-discover.tt-card-identified .tt-card-front:after {
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    transition: 400ms;
    content: " ";
    display: block;
    background-color: #FF6600;
    background-image: -webkit-linear-gradient(#FF6600, #ffa366, #FF6600);
    background-image: linear-gradient(#FF6600, #ffa366, #FF6600);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: absolute;
    left: 100%;
    top: 15%;
    margin-left: -25px;
    box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

/*.tt-card-logo.tt-card-visa {
    background: white;
    text-transform: uppercase;
    color: #1A1876;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}*/

.tt-card-logo.tt-card-visa:before, .tt-card-logo.tt-card-visa:after {
    content: " ";
    display: block;
    width: 100%;
    height: 25%;
}

.tt-card-logo.tt-card-visa:before {
    background: #1A1876;
}

.tt-card-logo.tt-card-visa:after {
    background: #E79800;
}

.tt-card.tt-card-visa.tt-card-identified .tt-card-front:before, .tt-card.tt-card-visa.tt-card-identified .tt-card-back:before {
    background-color: #191278;
}

.tt-card.tt-card-visa.tt-card-identified .tt-card-logo.tt-card-visa {
    opacity: 1;
}

/*.tt-card-logo.tt-card-mastercard {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 9px;
    line-height: 36px;
    z-index: 1;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}*/

.tt-card-logo.tt-card-mastercard:before, .tt-card-logo.tt-card-mastercard:after {
    content: " ";
    display: block;
    width: 36px;
    top: 0;
    position: absolute;
    height: 36px;
    border-radius: 18px;
}

.tt-card-logo.tt-card-mastercard:before {
    left: 0;
    background: #FF0000;
    z-index: -1;
}

.tt-card-logo.tt-card-mastercard:after {
    right: 0;
    background: #FFAB00;
    z-index: -2;
}

.tt-card.tt-card-mastercard.tt-card-identified .tt-card-front .tt-card-logo.tt-card-mastercard, .tt-card.tt-card-mastercard.tt-card-identified .tt-card-back .tt-card-logo.tt-card-mastercard {
    box-shadow: none;
}

.tt-card.tt-card-mastercard.tt-card-identified .tt-card-front:before, .tt-card.tt-card-mastercard.tt-card-identified .tt-card-back:before {
    background-color: #0061A8;
}

.tt-card.tt-card-mastercard.tt-card-identified .tt-card-logo.tt-card-mastercard {
    opacity: 1;
}

/*.tt-card-logo.tt-card-maestro {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    z-index: 1;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}*/

.tt-card-logo.tt-card-maestro:before, .tt-card-logo.tt-card-maestro:after {
    content: " ";
    display: block;
    width: 36px;
    top: 0;
    position: absolute;
    height: 36px;
    border-radius: 18px;
}

.tt-card-logo.tt-card-maestro:before {
    left: 0;
    background: #0064CB;
    z-index: -1;
}

.tt-card-logo.tt-card-maestro:after {
    right: 0;
    background: #CC0000;
    z-index: -2;
}

.tt-card.tt-card-maestro.tt-card-identified .tt-card-front .tt-card-logo.tt-card-maestro, .tt-card.tt-card-maestro.tt-card-identified .tt-card-back .tt-card-logo.tt-card-maestro {
    box-shadow: none;
}

.tt-card.tt-card-maestro.tt-card-identified .tt-card-front:before, .tt-card.tt-card-maestro.tt-card-identified .tt-card-back:before {
    background-color: #0B2C5F;
}

.tt-card.tt-card-maestro.tt-card-identified .tt-card-logo.tt-card-maestro {
    opacity: 1;
}

.tt-card-logo.tt-card-dankort {
    width: 60px;
    height: 36px;
    padding: 3px;
    border-radius: 8px;
    border: #000000 1px solid;
    background-color: #FFFFFF;
}

.tt-card-logo.tt-card-dankort .dk {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tt-card-logo.tt-card-dankort .dk:before {
    background-color: #ED1C24;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
}

.tt-card-logo.tt-card-dankort .dk:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -7.7px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 10px 0;
    border-color: transparent #ED1C24 transparent transparent;
    z-index: 1;
}

.tt-card-logo.tt-card-dankort .d, .tt-card-logo.tt-card-dankort .k {
    position: absolute;
    top: 50%;
    width: 50%;
    display: block;
    height: 15.4px;
    margin-top: -7.7px;
    background: white;
}

.tt-card-logo.tt-card-dankort .d {
    left: 0;
    border-radius: 0 8px 10px 0;
}

.tt-card-logo.tt-card-dankort .d:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #ED1C24;
    border-radius: 2px 4px 6px 0px;
    height: 5px;
    width: 7px;
    margin: -3px 0 0 -4px;
}

.tt-card-logo.tt-card-dankort .k {
    right: 0;
}

.tt-card-logo.tt-card-dankort .k:before, .tt-card-logo.tt-card-dankort .k:after {
    content: '';
    position: absolute;
    right: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    margin-right: -1px;
}

.tt-card-logo.tt-card-dankort .k:before {
    top: 0;
    border-width: 8px 5px 0 0;
    border-color: #ED1C24 transparent transparent transparent;
}

.tt-card-logo.tt-card-dankort .k:after {
    bottom: 0;
    border-width: 0 5px 8px 0;
    border-color: transparent transparent #ED1C24 transparent;
}

.tt-card.tt-card-dankort.tt-card-identified .tt-card-front:before, .tt-card.tt-card-dankort.tt-card-identified .tt-card-back:before {
    background-color: #0055C7;
}

.tt-card.tt-card-dankort.tt-card-identified .tt-card-logo.tt-card-dankort {
    opacity: 1;
}

.tt-card-logo.tt-card-elo {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: black;
    color: white;
    text-align: center;
    text-transform: lowercase;
    font-size: 21px;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: bold;
    padding-top: 13px;
}

.tt-card-logo.tt-card-elo .e, .tt-card-logo.tt-card-elo .l, .tt-card-logo.tt-card-elo .o {
    display: inline-block;
    position: relative;
}

.tt-card-logo.tt-card-elo .e {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.tt-card-logo.tt-card-elo .o {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    right: 0;
    top: 7px;
    border-radius: 100%;
    background-image: -webkit-linear-gradient(yellow 50%, red 50%);
    background-image: linear-gradient(yellow 50%, red 50%);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    text-indent: -9999px;
}

.tt-card-logo.tt-card-elo .o:before {
    content: "";
    position: absolute;
    width: 49%;
    height: 49%;
    background: black;
    border-radius: 100%;
    text-indent: -99999px;
    top: 25%;
    left: 25%;
}

.tt-card.tt-card-elo.tt-card-identified .tt-card-front:before, .tt-card.tt-card-elo.tt-card-identified .tt-card-back:before {
    background-color: #6F6969;
}

.tt-card.tt-card-elo.tt-card-identified .tt-card-logo.tt-card-elo {
    opacity: 1;
}

.tt-card-container {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    width: 300px;
    max-width: 100%;
    height: 180px;
    margin: auto;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.tt-card {
    font-family: "Helvetica Neue";
    line-height: 1;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    transition: all 400ms linear;
}

.tt-card > *, .tt-card > *:before, .tt-card > *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
}

.tt-card.tt-card-flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.tt-card .tt-card-front, .tt-card .tt-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    transition: all 400ms linear;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 10px;
    background: #DDD;
}

.tt-card .tt-card-front:before, .tt-card .tt-card-back:before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 10px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
}

.tt-card .tt-card-front:after, .tt-card .tt-card-back:after {
    content: " ";
    display: block;
}

.tt-card .tt-card-front .tt-card-display, .tt-card .tt-card-back .tt-card-display {
    color: white;
    font-weight: normal;
    opacity: 0.5;
    -webkit-transition: opacity 400ms linear;
    -moz-transition: opacity 400ms linear;
    transition: opacity 400ms linear;
}

.tt-card .tt-card-front .tt-card-display.tt-card-focused, .tt-card .tt-card-back .tt-card-display.tt-card-focused {
    opacity: 1;
    font-weight: 700;
}

.tt-card .tt-card-front .tt-card-cvc, .tt-card .tt-card-back .tt-card-cvc {
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    font-size: 14px;
}

.tt-card .tt-card-front .tt-card-shiny, .tt-card .tt-card-back .tt-card-shiny {
    width: 50px;
    height: 35px;
    border-radius: 5px;
    background: #CCC;
    position: relative;
}

.tt-card .tt-card-front .tt-card-shiny:before, .tt-card .tt-card-back .tt-card-shiny:before {
    content: " ";
    display: block;
    width: 70%;
    height: 60%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #d9d9d9;
    position: absolute;
    top: 20%;
}

.tt-card .tt-card-front .tt-card-logo {
    position: absolute;
    opacity: 0;
    right: 5%;
    top: 8%;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    transition: 400ms;
}

.tt-card .tt-card-front .tt-card-lower {
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 30px;
}

@media only screen and (max-width: 480px) {
    .tt-card .tt-card-front .tt-card-lower {
        width: 90%;
        left: 5%;
    }
}

.tt-card .tt-card-front .tt-card-lower .tt-card-cvc {
    visibility: hidden;
    float: right;
    position: relative;
    bottom: 5px;
}

.tt-card .tt-card-front .tt-card-lower .tt-card-number {
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    font-size: 24px;
    clear: both;
    margin-bottom: 30px;
}

.tt-card .tt-card-front .tt-card-lower .tt-card-expiry {
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    letter-spacing: 0em;
    position: relative;
    float: right;
    width: 25%;
}

.tt-card .tt-card-front .tt-card-lower .tt-card-expiry:before, .tt-card .tt-card-front .tt-card-lower .tt-card-expiry:after {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 7px;
    white-space: pre;
    display: block;
    opacity: .5;
}

.tt-card .tt-card-front .tt-card-lower .tt-card-expiry:before {
    content: attr(data-before);
    margin-bottom: 2px;
    font-size: 7px;
    text-transform: uppercase;
}

.tt-card .tt-card-front .tt-card-lower .tt-card-expiry:after {
    position: absolute;
    content: attr(data-after);
    text-align: right;
    right: 100%;
    margin-right: 5px;
    margin-top: 2px;
    bottom: 0;
}

.tt-card .tt-card-front .tt-card-lower .tt-card-name {
    text-transform: uppercase;
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    font-size: 20px;
    max-height: 45px;
    position: absolute;
    bottom: 0;
    width: 190px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tt-card .tt-card-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.tt-card .tt-card-back .tt-card-bar {
    background-color: #444;
    background-image: -webkit-linear-gradient(#444, #333);
    background-image: linear-gradient(#444, #333);
    width: 100%;
    height: 20%;
    position: absolute;
    top: 10%;
}

.tt-card .tt-card-back:after {
    content: " ";
    display: block;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(#FFF, #FFF);
    background-image: linear-gradient(#FFF, #FFF);
    width: 80%;
    height: 16%;
    position: absolute;
    top: 40%;
    left: 2%;
}

.tt-card .tt-card-back .tt-card-cvc {
    position: absolute;
    top: 40%;
    left: 85%;
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    transition-delay: 600ms;
}

.tt-card .tt-card-back .tt-card-shiny {
    position: absolute;
    top: 66%;
    left: 2%;
}

.tt-card .tt-card-back .tt-card-shiny:after {
    content: "This card has been issued by Jesse Pollak and is licensed for anyone to use anywhere for free.AIt comes with no warranty.A For support issues, please visit: github.com/jessepollak/card.";
    position: absolute;
    left: 120%;
    top: 5%;
    color: white;
    font-size: 7px;
    width: 230px;
    opacity: .5;
}

.tt-card.tt-card-identified {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.tt-card.tt-card-identified .tt-card-front, .tt-card.tt-card-identified .tt-card-back {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
}

.tt-card.tt-card-identified .tt-card-front:before, .tt-card.tt-card-identified .tt-card-back:before {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.03) 4px), repeating-linear-gradient(90deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-linear-gradient(210deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-radial-gradient(circle at 70% 70%, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-radial-gradient(circle at 90% 20%, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-radial-gradient(circle at 15% 80%, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.03) 4px), repeating-linear-gradient(90deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-linear-gradient(210deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-radial-gradient(circle at 70% 70%, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-radial-gradient(circle at 90% 20%, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-radial-gradient(circle at 15% 80%, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), linear-gradient(-25deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
    opacity: 1;
}

.tt-card.tt-card-identified .tt-card-front .tt-card-logo, .tt-card.tt-card-identified .tt-card-back .tt-card-logo {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}

.tt-card.tt-card-identified.no-radial-gradient .tt-card-front:before, .tt-card.tt-card-identified.no-radial-gradient .tt-card-back:before {
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.03) 4px), repeating-linear-gradient(90deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-linear-gradient(210deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 1px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.03) 4px), repeating-linear-gradient(90deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), repeating-linear-gradient(210deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), linear-gradient(-25deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
}